@page "/"

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<div>
    <p>Jump to page: <NavLink href="/counter">Counter</NavLink> </p>
    <p>Or jump to page: <NavLink href="/fetchdata">FetchData</NavLink> </p>
</div>
<div>
    <input type="text" bind="@message"/>
    <button onclick="@ShowMessage">Show message</button>
</div>
<div>
    <br />
    <input ref="inputElemRef" type="file" accept="text/plain" onchange="@ReadTextFromInputFile" /><br />
    <p>TextContent: </p>
    <p>@textContent</p><br />
</div>
<div>
    <button disabled="@isDownloadButtonDisabled" onclick="@DownloadResultFile">Download result file</button>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />

@functions
{
    string message = "";

    async void ShowMessage()
    {
        //await WebFileUtil.ShowPrompt(message);
        //textContent = message;

        var str = "Test string";
        var count = 1000*100;
        var strs = await WebFileUtil.GetStringArray(str, count);
        foreach (var s in strs)
        {
            Console.WriteLine(s);
        }
    }

    ElementRef inputElemRef;
    string textContent = "File not to be selected yet!";

    async void ReadTextFromInputFile()
    {
        //textContent = await WebFileUtil.ReadUploadedFileAsText(inputElemRef);

        var fileContents = await WebFileUtil.ReadLargeTextFile(inputElemRef);
        Console.WriteLine($"{fileContents.Length}");

        for (var i = 0; i < fileContents.Length; i++)
        {
            Console.WriteLine($"{i}: {fileContents[i]}");
        }

        //foreach (var s in fileContents.Take(20))
        //{
        //    Console.WriteLine(s);
        //}

        //Console.WriteLine($"textContent: {textContent}");

        isDownloadButtonDisabled = false;

        StateHasChanged();
    }

    bool isDownloadButtonDisabled = true;

    async void DownloadResultFile()
    {
        await WebFileUtil.WriteTextFileAndDownload("resultFile.txt",
            $"Converted text content:{Environment.NewLine}{textContent}");
    }
}

